/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2020, 3:39:27 PM
    Author     : Paulo Victor
*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Sigmar+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'PT Sans', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.center{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    padding: 20px;
    background-color: #9dbec4;
}
header .saudacoes{
    float: left;
}
header h1{
    color: #fff;
}
header .deslogar{
    float: right;
    vertical-align: central;
}
header .deslogar input[type=submit]{
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 18px;
    background-color:#ed8e9b;
    color: #fff;
    font-weight: bold;
    transition: background-color 1s;
}
header .deslogar input[type=submit]:hover{
    background-color:  #cf0a25;
}
header .deslogar input[type=submit]:focus{
    outline: 0;
}
section{    
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 100%;
    padding: 80px;
    background-color: #9db8e3;
}
.container-table table{    
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
}
table > thead > tr{ 
    color: #fff;
    background-color: #4CAF50;
    border-bottom: 1px solid #000;
}
table th{
    padding: 12px 0;
} 
table td{    
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
table tr:nth-child(even){
    background-color: #b6c6d1;
}
table > tbody >tr:hover{
     background-color: #b5d2e6;
}
table > tbody >tr > td > form{
    display: inline;
    margin:  0 5px;
}
table > tbody >tr > td > form input[type=submit]{
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
table > tbody >tr > td > form input[name=editar]{
    background-color: #3479BA;
    transition: background-color 1s;
}
table > tbody >tr > td > form input[name=excluir]{
    background-color: #c4272c;
    transition: background-color 1s;
}
table > tbody >tr > td > form input[name=editar]:hover{
    background-color: #6bc2e8;
}
table > tbody >tr > td > form input[name=excluir]:hover{
    background-color: #ed2f35;
}
table > tbody >tr > td > form input[name=editar]:focus, table > tbody >tr > td > form input[name=excluir]:focus{
    outline: 0;
}
table > tbody >tr > td > form > input[type=text]{
    display: none;
}
footer{
    text-align: center;
    padding: 40px 0;
    color: #fff;
    font-size: 20px;
    background-color: #9dbec4;
}
footer p{
    margin-bottom: 10px;
}
footer p a{
    text-decoration: none;
    color: #000;
}
footer p a:hover{
    text-decoration: underline;
    color: #145ac9;
}